<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scaleable=no">
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css" href="stylesheets/common/cpt/ablum_edit.css">
    <link rel="stylesheet" href="stylesheets/common/cpt/photo_animate.css">
      <link rel="stylesheet" href="stylesheets/temp_music/index_1003.css">
      <link rel="icon" href="favicon.ico">      
      <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
      <script src="javascripts/libs/flexible/flexible_css.js"></script>
      <script src="javascripts/libs/flexible/flexible.js"></script>
      <style>
          #sun{width:3.93rem;height:3.78rem;position: absolute;top:0;left:0;  }
          .sunstart{animation: sunshow 3s linear 0s both;}
          .sunrotate{animation: sunRotate 10s linear 0s infinite;}
          @keyframes sunshow {0%{transform: scale(0,0);} 100%{transform: scale(1,1);}}
          @keyframes sunRotate {0%{transform:rotate(0);} 100%{transform:rotate(360deg);}}
          #bluehouse{width:2.08rem;height:1.84rem;position: absolute;bottom:1rem;right:0.3rem;z-index: 3;}
          #pickhouse{width:1.49rem;height:1rem;position: absolute;bottom:1rem;right:2rem;z-index: 2;}
          #b{width:0.6rem;height:0.773rem;position: absolute;bottom: 1.8rem;  right: 2.3rem;
              animation: bmove 4s linear 0s infinite;}
          #mogu{width:2.98rem;height:1.77rem;position: absolute;bottom:2.6rem;right:0.5rem;
              animation: mogumove 6s linear 0s infinite;z-index: 2;}
          #leaves{width:0.48rem;height:0.53rem; position: absolute;bottom:2.6rem;right:1.6rem;z-index: 3;}
          #cloud{width:0.81rem;height:0.44rem;position: absolute;bottom:5rem;right:0;
              animation: cloudmove 10s linear 0s infinite;}
          @keyframes cloudmove { 0%{transform: translateX(0);} 50%{transform: translateX(-3rem);} 100%{transform: translateX(0);} }
          @keyframes mogumove { 0%{transform: scale(1,1);} 20%{transform: scale(1.2,1.2);} 40%{transform: scale(1,1)} 60%{transform: scale(1.3,1.3)} 80%{transform: scale(1,1)} 90%{transform: scale(1.1,1.1)} 100%{transform: scale(1,1)} }
          @keyframes bmove { 0%{transform: rotateY(0)} 50%{transform: rotateY(360deg)} 100%{transform: rotateY(0)} }
          #chicken_1{width:0.52rem;height:0.4rem;position: absolute;bottom:1.2rem;right:5rem;}
          #chicken_2{width:0.64rem;height:0.36rem;position: absolute;bottom:1.2rem;right:4rem;}
          #chicken_3{width:0.64rem;height:0.36rem;position: absolute;bottom:2rem;right:4.5rem;}
          #love{width:2rem;height:0.74rem;position: absolute;bottom:3.8rem;right:1rem;
              animation:mogumove 6s linear 0s infinite;}
          #bgMusic{position: absolute;}
          .photo{
              background:url('images/static.gif') no-repeat center;background-size: 100% 100%;
              border: 7px solid #fff;
              border-radius: 50%;
          }
      </style>
  </head>
  <body>    
    <audio id="bgMusic"  autoplay="autoplay" src="<%= songUrl %>" loop="loop"></audio>
    <div id="bgMusicControl" class="bgMusicPlay"></div>
    <div class="tem_wrap">
      <p class="bg1"></p>
      <div class="animat_item">
        <div id="animat_photo">
          <ul long="<%= list.length %>">
            <li>
            	<span class="photo">
            		<img class="showimg" src="images/static.png" alt="" />
            	</span>
                <span class="photo">
            		<img class="showimg" src="images/static.png" alt="" />
            	</span>
            </li>
         </ul>
        </div>
          <ul id="saveImgSrc"  style="display: none;">
          </ul>
        <div class="animat_crane">

        </div>
          <div id="loadimgWrap" style="display: none;">
              <img  alt="">
              <img  alt="">
          </div>
      </div>
        <div style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
            <img id="sun" class="sunstart" src="images/temp_music/temp4/sun.png" alt="">
            <img id="bluehouse" src="images/temp_music/temp4/bluehouse.png" alt="">
            <img id="pickhouse" class="rightTopStart" src="images/temp_music/temp4/pickhouse.png" alt="">
            <img id="b" src="images/temp_music/temp4/B.png" alt="">
            <img id="mogu" src="images/temp_music/temp4/mogu.png" alt="">
            <img id="leaves" src="images/temp_music/temp4/leaves.png" alt="">
            <img id="cloud" src="images/temp_music/temp4/cloud.png" alt="">
            <img src="images/temp_music/temp4/chicken1.png" alt="" id="chicken_1">
            <img src="images/temp_music/temp4/chicken2.png" alt="" id="chicken_2">
            <img src="images/temp_music/temp4/chicken3.png" alt="" id="chicken_3">
            <img src="images/temp_music/temp4/love.png" alt="" id="love">
        </div>
      <!-- <ul id="albumEdit">
        <li><span>模板</span></li> 
        <li><span>音乐</span></li> 
        <li><span>添加</span></li> 
        <li><span>保存</span></li> 
      </ul> -->
      <!-- <div id="editTemp" class="editItem">
        <s class="close"></s>
        <div id="tempWrap">
          <ul>
            <li class="cur">
              <img src="img/images/temp1.png" alt="">
              <p>复古相册</p>
            </li>
            <li>
              <img src="img/images/temp2.png" alt="">
              <p>梅花三弄</p>
            </li>
            <li>
              <img src="img/images/temp1.png" alt="">
              <p>复古相册</p>
            </li>
            <li>
              <img src="img/images/temp2.png" alt="">
              <p>梅花三弄</p>
            </li>
            <li>
              <img src="img/images/temp1.png" alt="">
              <p>复古相册</p>
            </li>
            <li>
              <img src="img/images/temp2.png" alt="">
              <p>梅花三弄</p>
            </li>
            <li>
              <img src="img/images/temp1.png" alt="">
              <p>复古相册</p>
            </li>
            <li>
              <img src="img/images/temp2.png" alt="">
              <p>梅花三弄</p>
            </li>
          </ul>
        </div>        
      </div>
      <div id="editMusic" class="editItem">
        <s class="close"></s>
        <div id="musicWrap">
          <ul>
            <li class="cur">
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>红楼一梦</h3>
              <p>鲁巴</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>红楼一梦</h3>
              <p>鲁巴</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
            <li>
              <h3>一朵云在蓝天飘过</h3>
              <p>乌兰马托</p>
            </li>
          </ul>
        </div>        
      </div> -->
    </div>       
  </body>
  <script>
      //保存当前相册选择的音乐id和模板信息
      var selectTemplateId = "<%= templateId%>";
      var selectSongId = "<%= songId%>";
      var albumType = "<%= postType%>";
      var tempId = "<%= id%>";
  </script>
  <script src="javascripts/libs/jquery-3.3.1.min.js"></script>
  <script src="javascripts/libs/zepto/zepto.min-1.2.0.js"></script>
  <script src="javascripts/libs/zepto/fastclick.js"></script>
  <script src="javascripts/libs/zepto/fx.js"></script>
  <script src="javascripts/libs/zepto/touch.js"></script>
  <script src="javascripts/common/mod/queryString.js"></script>
  <script src="javascripts/common/mod/subString.js"></script>
  <script src="javascripts/common/cpt/index.js"></script>
  <script type="text/javascript" src="javascripts/common/cpt/albumTemEdit.js"></script>
  <script>
    wx.miniProgram.getEnv(function(res) {
     console.log(res.miniprogram); // true 
   })
    window.onload = function(){
        var sun = document.getElementById('sun');
        sun.addEventListener('webkitAnimationEnd', function(){
            sun.classList.remove('sunstart');
            sun.classList.add('sunrotate');
        });
        //图片没有下载完成前，先显示默认图片
//        var imgload = $('.hideImg');
//        var imgshow = $('.showimg');
//        console.log(imgload);
//        var successLoadImg = 0;//保存下载成功图片的数量
//        var i = 0
//        var testImgLoad = function(){
//            if(i == imgload.length){
//                i = 0
//            }
//            if(imgload[i].complete){
//                console.log(imgload[i].complete)
//                imgshow[i].src = imgload[i].src;
//                successLoadImg ++
//                i++
//                console.log('保存下载成功图片的数量'+successLoadImg);
//                if(successLoadImg < imgload.length){
//                    testImgLoad()
//                }
//            }else{
//                i++
//                if(successLoadImg < imgload.length){
//                    testImgLoad()
//                }
//            }
//        }
//        testImgLoad();
        //图片没有下载完成前，先显示默认图片
    }
    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            var audio = document.getElementById('bgMusic');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
  </script>
</html>