<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scaleable=no">
      <title><%= title %></title>
      <link rel="stylesheet" href="stylesheets/temp_teletext/index_1.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/common/cpt/ablum_edit.css">
      <link rel="icon" href="favicon.ico">      
      <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
      <script src="javascripts/libs/flexible/flexible_css.js"></script>
      <script src="javascripts/libs/flexible/flexible.js"></script>
      <style>
          #china{width:8.4rem;position:absolute;top:1rem; left:0.8rem; z-index: 3; }
          #flag{      width: 8rem;
              position: absolute;
              top: -1.5rem;
              right: 0;
              z-index: 2;
          }
          #people {
              width: 9rem;
              position: absolute;
              bottom: 0rem;
              left:0.5rem;
              z-index: 2;
              animation: movetext 3s linear infinite 0s;
          }

          #text{
              width: 9rem;
              position: absolute;
              right:0.5rem;
              z-index: 2;
              bottom:3rem;
              animation: movetext 3s linear infinite 0s;
          }
          .petalBox img{position: absolute;}
          .tem_wrap{  width:100%;  height:100%;  position: relative;  overflow-y: auto; }
          #wrapper{
              width: 100%;
              height: 100%;
              background:url('images/temp_teletext/temp7/bg.jpg') no-repeat center;
              background-size: 100% 100%;
          }
          #content{  width:100%;  height:auto;  overflow: hidden;  position: absolute;z-index:3; }
          #inner{  width:100%;  margin-top:4rem;  margin-bottom:4rem;  }
          .photoTitle{  font-size: 23px;  font-weight: 600;  text-align: center;  width: 100%;  color:#0e4a65;  }
          #inner img{  width:6.4rem;  display: block;  margin:0 auto;  }
          .imgTitle{  width:8rem;  font-size: 15px;  color:#0e4a65;  line-height: 20px;  margin:0.5rem auto;  text-align: center;  }
          #bottom_ink img{  width: 10rem;  height: 9.56rem;  }
          #contentWrap{  width: 100%;height:auto;position: absolute;top:0;left:0;overflow: hidden;z-index: 4;}
          #bgMusic{position: absolute;}
          /*.imgWrap{position:relative;width:6.4rem;height:6.4rem;margin: 0 auto; background-image:url('images/static.png');background-size: 100% 100%;}*/
          .listWrap{
              width:6.4rem;
              margin:0 auto;
              background-size: 100% 100%;
              position: relative;
              border:5px solid #fff;
              border-radius: 5px;
          }
      </style>
  </head>
  <body onload="loaded()">
    <div style="width:100%;height:100%;position: absolute;top:0;left:0;background:#f6e7ba; ">
        <img id="china" src="images/temp_music/temp7/china.png" alt="">
        <img id="flag" src="images/temp_music/temp7/flag.png" alt="">
        <img id="people" src="images/temp_music/temp7/people.png" alt="">
        <img id="text" src="images/temp_music/temp7/text.png" alt="">
    </div>
    <audio id="bgMusic"  autoplay="autoplay" src="<%= songUrl %>" loop="loop"></audio>
    <div id="bgMusicControl" class="bgMusicPlay"></div>
    <div class="tem_wrap"  id="wrapper">
        <div id="content">
            <div id="inner">
                <p class="photoTitle"><%= title%></p>
                <ul>
                    <% for (var i=0; i<list.length; i++) { %>
                    <li>
                        <p class="imgTitle"><%= list[i].des%></p>
                        <div class="listWrap">
                          <div class="imgWrap" style="height: 6.7rem;">
                            <img class="showimg" loadSrc="<%= list[i].resUrl%>!viewWidth">
                          </div>
                        </div>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
  </body>
  <script>
      //保存当前相册选择的音乐id和模板信息
      var selectTemplateId = "<%= templateId%>";
      var selectSongId = "<%= songId%>";
      var albumType = "<%= postType%>";
  </script>
  <script src="javascripts/libs/zepto/zepto.min-1.2.0.js"></script>
  <script src="javascripts/libs/zepto/fastclick.js"></script>
  <script src="javascripts/libs/zepto/fx.js"></script>
  <script src="javascripts/libs/zepto/touch.js"></script>
  <script src="javascripts/common/mod/queryString.js"></script>
  <script src="javascripts/common/mod/subString.js"></script>
  <!--<script src="javascripts/index/index_01.js"></script>-->
  <script type="text/javascript" src="javascripts/common/cpt/albumTemEdit.js"></script>
  <script src="javascripts/common/cpt/iscroll.js"></script>
  <script src="javascripts/common/cpt/lazyLoad.js"></script>
</html>