<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scaleable=no,viewport-fit=cover">
      <title><%= title %></title>
      <link rel="stylesheet" href="stylesheets/temp_teletext/index_1.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/common/cpt/ablum_edit.css">
      <link rel="icon" href="favicon.ico">      
      <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
      <script src="javascripts/libs/flexible/flexible_css.js"></script>
      <script src="javascripts/libs/flexible/flexible.js"></script>
      <style>
          .adornWrap{
              width:100%;height:100%;position: absolute;top:0;left:0;
          }
          .tem_wrap{  width:100%;  height:100%;  position: absolute;  overflow-y: auto;}
          #flower-left-top{  width:7.70rem;  height: 3.96rem;  float:left;  position: absolute;  left:-0.5rem;  top:0;  z-index: 0;  }
          #flowerRightTop{ width: 3.44rem;  height: 3.42rem;  float:right;  position: absolute;  right:0;  top:0;  z-index: 0;  }
          #content{  width:100%;  height:auto;  overflow: hidden;  position: relative;  }
          .p { width:100%;  height:8rem;  }
          #flowerBottomLeft{  width:4.77rem;  height:4.89rem;  position: absolute;  bottom: 0;  left: 0;  z-index: 0;  }
          #bord{  width:3.8rem;  height:4.25rem;  position: absolute;  right:0;  bottom: 0;  z-index: 0;  }
          #house{  width:10rem;  height:4.01rem;  position: absolute;  bottom: 0;  left: 0;  z-index: 0;  }
          #inner{  width:100%;  margin-top:4rem;  margin-bottom:4rem;  }
          .photoTitle{  font-size: 23px;  font-weight: 600;  text-align: center;  width: 100%;  color:#4c5d5d;  }
          #inner img{  width:6.4rem;  display: block;  margin:0 auto;  }
          .imgTitle{  width:8rem;  font-size: 15px;  color:#4c5d5d;  line-height: 20px;  margin:0.5rem auto;  text-align: center;  }
          #bottom_ink img{  width: 10rem;  height: 9.56rem;  }
          #bottom_ink{  position: absolute;  top: 5rem;  }
          #ink{  position: absolute;  width:10rem;  height:11.7rem;  top:2rem;}
          #petal_01{  width: 0.4rem;  position: absolute;  top: 5rem;  left: 2rem;}
          #petal_02{  width: 0.7rem;  position: absolute;  top: 8rem;  left: 8.5rem;}
          #bgMusic{position: absolute;}
          /*.imgWrap{    position: relative; width: 6.4rem; height: 6.4rem;  margin: 0 auto;  background-image:url('images/static.gif');background-size: 100% 100%; border-radius: 5px;}*/
      </style>
  </head>
  <body>
    <div class="adornWrap">
        <img id="flower-left-top" src="images/temp_teletext/temp1/flower_05.png" alt="">
        <img id="flowerRightTop" src="images/temp_teletext/temp1/flower_04.png" alt="">
        <img id="flowerBottomLeft" src="images/temp_teletext/temp1/flower_03.png" alt="">
        <img id="bord" src="images/temp_teletext/temp1/bird.png" alt="">
        <img id="house" src="images/temp_teletext/temp1/house_02.png" alt="">
        <img id="ink" src="images/temp_teletext/temp1/mo.png" alt="">
        <img id="petal_01" src="images/temp_teletext/temp1/petal_00.png" alt="">
        <img src="images/temp_teletext/temp1/flower_02.png" alt="" id="petal_02">
    </div>
    <audio id="bgMusic"  autoplay="autoplay" src="<%= songUrl %>" loop="loop"></audio>
    <div id="bgMusicControl" class="bgMusicPlay"></div>
    <div class="tem_wrap"  id="wrapper">
        <div id="content">
            <div id="inner">
                <p class="photoTitle"><%= title%></p>
                <ul>
                    <% for (var i=0; i<list.length; i++) { %>
                    <li>
                        <p class="imgTitle"><%= list[i].des%></p>
                        <div style="width:6.4rem;margin:0 auto;border:5px solid #fff;border-radius: 5px;">
                          <div class="imgWrap" style="height: 6.7rem;">
                            <span></span>
                            <img class="showimg" loadSrc="<%= list[i].resUrl%>!viewWidth">
                          </div>                            
                        </div>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
  </body>
  <script>
      //保存当前相册选择的音乐id和模板信息
      var selectTemplateId = "<%= templateId%>";
      var selectSongId = "<%= songId%>";
      var albumType = "<%= postType%>";
  </script>
  <script src="javascripts/libs/zepto/zepto.min-1.2.0.js"></script>
  <script src="javascripts/libs/zepto/fastclick.js"></script>
  <script src="javascripts/libs/zepto/fx.js"></script>
  <script src="javascripts/libs/zepto/touch.js"></script>
  <script src="javascripts/common/mod/queryString.js"></script>
  <script src="javascripts/common/mod/subString.js"></script>
  <!--<script src="javascripts/index/index_01.js"></script>-->
  <script type="text/javascript" src="javascripts/common/cpt/albumTemEdit.js"></script>
  <script src="javascripts/common/cpt/iscroll.js"></script>
  <script src="javascripts/common/cpt/lazyLoad.js"></script>
</html>